body {
	padding: 0;
	margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 87.5;
  max-height: 100vh;
}

header.top {
	background-color: black;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 10vh;
	grid-gap: 20px;
}

header.top div.title {
	grid-column: 1;
	padding: 0 0 12px 12px;
}

header.top div.title h1 {
	color: #FFB802;
	font-weight: 200;
	font-size: 5em;
	font-stretch: 55%;
	text-transform: uppercase;
	margin: 0;
}

header.top div.title h2 {
	font-weight: 400;
	font-size: 1.25em;
	color: #FFF;
	margin: -10px 0 0 6px;
	text-transform: uppercase;
}

header.top div.view-sort {
	color: #FFF;
	grid-column: 2;
	margin: 1em 2em 0 0;
	text-align: right;
}

header.top div.view-sort img {
	width: 80px;
	margin-left: 6px
}

header.top div.view-sort p {
	font-size: 1.15em;
	margin: 0;
	text-transform: uppercase;
}

header.top div.view-sort p.menu {
	display: inline;
	vertical-align: top;
}

header.top a {
	color: #FFB802;
	text-decoration: none;
}

/* ----- MENUS ------- */

/* PHOTO MENU */
.photo-menu{
  position: relative;
}

main.photo-menu div img {
	max-width: 100%;
	height: auto;
}

svg g#hotspots .hotspot {
  fill: #ff9700;
/*  opacity: .3;*/
	opacity: 0;
  stroke-width: 0px;
}

.mini-pop {
  position: absolute;
  border: 1px solid #333;
  padding: 12px;
  width: 240px;
  height: 80px;
  background-color: #FFB802;
}

.mini-pop h3 {
  margin: 0;
}

.mini-pop p a {
  color: white;
  text-decoration: none;
}

/* GRID MENU */
main.grid-menu {
	background-color: #323024;
	position: relative;
}

main.grid-menu nav ul {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-gap: 0;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

li.grid-menu-item {
	position: relative;
	line-height: 0;
}

li.grid-menu-item a img {
	max-width: 100%;
	aspect-ratio: 1;
}

li.grid-menu-item h3 {
  background-color: rgba(0, 0, 0, .65);
  bottom: 0;
  color: white;
  font-size: 1em;
  font-weight: 400;
  left: 0;
  margin: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  line-height: 1.8em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.scroll-icon	{
	position: fixed;
	bottom: 5vh;
	left: 42vw;
}

.scroll-icon img {
	width: 16vw;
}

/* ----- DETAIL PAGE ------ */
main.detail {
	overflow: hidden;
}

main.detail header {
	padding: 0 12px .5em 12px;
	height: 7vh;
}

main.detail header h1 {
	color: #E4A400;
	font-size: 3em;
	font-weight: 400;
	margin: 0;
}

main.detail header h2 {
	font-size: 1.5em;
	color: #333;
	font-weight: 200;
	font-style: italic;
	margin: 0;
}

div.full-view img {
	max-width: 100%;
	height: 50vh;
}

div.info {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 20px;
	height: 30vh;
	padding: 6px 20px 0 16px;
}

div.info article {/* image thumbs and description */
	grid-column: 1;
	font-size: 1.5em;
	font-weight: 400;
}

div.info article p {
	margin-top: 0;
}

div.info section {
	grid-column: 2;
	padding: 0 16px 16px 0;
}

ul.images, dl.facts, ul.behavior {
	list-style-type: none;
	padding: 0;
	margin: 0 0 .5em 0;
	font-weight: 400;
}

ul.images li {
	display: inline-block;
}

ul.images li img {
	height: 100px;
}

section div.audio {
	margin: 0;
	width: 90% !important;
}

section div.audio a img {
	float: left;
	margin-bottom: .5em;
	width: 60px;
	margin-right: 6px;
}

section div.audio a {
	text-decoration: none;
}

section div.audio a span {
	font-weight: 400;
	color: #e6ad00;
	text-transform: uppercase;
}

dl.facts {
	line-height: 1.5em;
}

dl.facts dt {
	color: #e6ad00;
	float: left;
	text-transform: uppercase;
	width: 60px;
}

dl.facts dd {
	margin-left: 70px;
}

ul.behavior {
	clear: left;
}

ul.behavior li {
	margin-bottom: .5em;
  padding: 0px 0px 0px 66px;
  height: 60px;
}

ul.behavior li.habitat {
  background: url(/icons/forest.png) no-repeat left top;
  background-size: 60px 60px;
}

ul.behavior li.habitat::before {
	content: 'HABITAT: ';
	color: #e6ad00;
}

ul.behavior li.food {
  background: url(/icons/insects.png) no-repeat left top;
  background-size: 60px 60px;
}

ul.behavior li.food::before {
	content: 'FOOD: ';
	color: #e6ad00;
}

ul.behavior li.nest {
  background: url(/icons/tree-nest.png) no-repeat left top;
  background-size: 60px 60px;
}

ul.behavior li.nest::before {
	content: 'NEST: ';
	color: #e6ad00;
}

.credit {
	font-size: .75em;
  color: gray;
  margin-top: 6em !important;
}
